.sidebar {
  background: #1D1E20;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  text-align: center;
  margin: 2vh;
}

.icon img {
  height: 4vh;
  width: auto;
}

.icon label {
  color: #88898C;
  font-size: .8rem;
  display: block;
}

.logo,
.settings {
  display: none;
}

.profile img {
  border-radius: 50%;
  height: 5.5vh;
  width: 5.5vh;
}

@media only screen and (min-width: 900px) {
  .profile {
    margin-top: auto;
    /* sticks .profile and .settings to the bottom of the page */

  }
  .logo {
    display: block;
  }
  .logo img {
    height: 7vh;
    width: auto;
  }
  .settings {
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    display: block;
  }
  .settings img{
    height: 2.5vh;
    width: auto;
  }
  .sidebar {
    flex-direction: column;
    width:6.25vw;
    height:100vh;
    position: fixed;
  }
}